// Variables
  $feature-color: #EC005A;
// Main styles

h1 {
  border: 3px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4A4A4A;
  margin: 0;
}

header {
  border: 1px solid green;
  min-height: 50px;
}

.main-container {
  padding-left: 60px;
  display: flex;

  .list-group {
    width: 260px;
  }

  .tab-content {
    flex-grow: 1;
  }
}

aside {
  position: fixed;
  left: 0;
  width: 60px;
  background-color: #333333;
  bottom: 0;
  top: 50px;
  text-align: center;

  .list-group-item {
    color: #FFFFFF;
    background-color: inherit;
    border: none;
    padding: 5px;

    &:hover, &:focus {
      background-color: inherit;
      color: #FFFFFF;
      .workspace-tab {
        .workspace-icon {
          border: 4px solid #AAAAAA;
        }
      }
    }

    &.active {
      color: #FFFFFF;
      background-color: inherit;
      border: none;
      position: relative;

      &:before {
        content: "\00b7";
        color: $feature-color;
        position: absolute;
        left: -6px;
        top: -6px;
        font-size: 48px;

      }
    }
    .workspace-tab {
      margin-right: auto;
      margin-left: auto;
      font-size: 0.75rem;
      margin-bottom: 7px;

      .workspace-icon {
        width: 40px;
        height: 40px;
        background-color: #F0F0F1;
        margin: 3px;
        border-radius: 6px;
        display: inline-block;
        border: 4px solid transparent;
        transition: all 0.4s ease;
      }
      
    }
  }
}

